
#map {
    height: calc(100vh - 100px);
    width: 100%;
    border-radius: 8px;
  }
  


.map-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}