.analyse-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

:host {
  display: block;
  min-height: 100vh;
  padding: 24px;

  background-image: url('/assets/analyze-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}



/* Overlay */
:host::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* Page */
.analyze-page {
  max-width: 900px;
  margin: 0 auto;
  color: #ffffff;
}

/* Titles */
.page-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  margin-bottom: 24px;
  color: #ccc;
  font-family: cursive;
}

/* Card */
.weights-card,
.results-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 24px;
}

/* Weight rows */
.weight-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  label {
    font-weight: 500;
  }

  input {
    width: 80px;
    padding: 6px;
    border-radius: 6px;
    border: none;
  }
}

/* Total weight */
.total-weight {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;

  strong {
    font-size: 16px;
  }

  .valid {
    color: #ff5252;
    font-size: 23px
  }

  .invalid {
    color: #ff5252;
  }
}

/* Buttons */
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn.primary {
  background:#01a800d2;
  color: #ffffff;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Errors */
.error-text {
  color: #ffbdbd;
  margin-top: 10px;
}

/* Results */
.results-card h3 {
  margin-bottom: 12px;
}

.result-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  &.header {
    font-weight: 600;
    color: #ccc;
  }

  .score {
    font-weight: 600;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .weight-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}
