:host {
  display: block;
  min-height: 100vh;
  padding: 24px;
  background-image: url('/assets/solar-bg.jpg');
  background-size: cover;
  background-position: center;
}

:host::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.72);
  z-index: -1;
}



.stats-container {
  display: flex;
  gap: 31px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.stat-card {
  background: linear-gradient(135deg, #973b3b, #c04b4b);
  color: #ffffff;
  padding: 18px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);


  h3 {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
}

.actions {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

/* Base button */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

/* Primary action */
.btn.primary {
  background-color: #d26919;
  color: #ffffff;

  &:hover {
    background-color: #125aa0;
    transform: translateY(-1px);
  }
}

/* Secondary action */
.btn.secondary {
  background-color: #2e7d32;
  color: #ffffff;

  &:hover {
    background-color: #1e5a23;
    transform: translateY(-1px);
  }
}



@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
  }

  .stat-card {
    width: 100%;
    padding: 5px;
  }

  .actions {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
